<strong>Olá, {{ student }}</strong>
<p>Sua matrícula foi realizada, confira seus dados cadastrados:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de Término: </strong> {{ date }} <br />
  <strong>Valor: </strong> {{ price }} <br />
</p>
<p>
  Seja bem vindo a nossa academia
</p>
